
    <div align="right">
        <button id="Setting" class="buttont">Setting</button>
    </div>
    <div id="Modal" class="modal">
        <div class="modal-content">
            <span class="close"></span>
            <div class="controls">
                <label for="spacing">Spacing:</label>
                <input id="spacing" type="range" name="spacing" min="10" max="100" value="10" data-sizing="px" style="width: 350px;">
                <label for="blur">Blur:</label>
                <input id="blur" type="range" name="blur" min="0" max="25" value="0" data-sizing="px" style="width: 350px;">
                <label for="base">Color:</label>
                <input id="base" name="base" type="color" ; style="width: 70px; height: 50px;">
            </div>
        </div>
    </div>
    <script>
        var modal = document.getElementById("Modal");
        var btn = document.getElementById("Setting");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <div class="head1">
        <span>M</span>
        <span>Y</span>
        <span>S</span>
        <span>T</span>
        <span>R</span>
        <span>A</span>
        <span>G</span>
        <span>R</span>
        <span>A</span>
        <span>M</span>
    </div>
    <input type="text" name="search" class="search" placeholder="Search Photos">
    <br></br>
    <div class="gallery"></div>
    <script src="./index.js"></script>